body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logout-btn {
  background-color: white;
  font-size: 14px;
  border : none;

  margin : 0;
  padding : 0;
}

.main_ine {
  width : 100%;
  height : 100%;
  background-image: url('./img/inecover.jpeg');
}

.timeline-wrap {
  width : 100%;
  height : 100vh;

  display : flex;
  justify-content: center;
  align-items: flex-start;
}